html {
    --violet-50: #fde6fe;

    --coral-50: #fca5a5;

    --grey-30: #eaeef4;
    --grey-70: #7e92a2;

    background: #f8fafb;

    --primary-blue: #514ef3;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
    --blue: rgba(74, 58, 255, 1);
    --puple: rgba(163, 56, 246, 1);
    --gray: rgba(160, 160, 160, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --background--gray: #f8fafb;
}
